/* ================ Navigation =================== */
.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.99;
    background: #fff;
}
.navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 5px;
}
/* ================ Main =================== */
#main-header{
	color: #3493a7;
}
.btn-primary{
	background:  #3493a7 !important; 
	border-color: #3493a7;
	border-radius:0px; 
}
.input-group-addon i {
	font-size: 16px;
}
#add-btn{

	padding: 20px 0px;
}
#add-btn a{
	background: #3493a7;
	border-color: #3493a7;
	border-radius: 0px; 
}
.thead-inverse th{
	background: #868e96;
}

/* ================ company summary body =================== */
.dt-buttons{
	padding: 20px 0px;

}
.dt-buttons a{
	background: #3493a7;
	border-color: #3493a7;
	border-radius: 0px; 	
}

