<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blogen Admin Area</title>
     <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link th:href="@{/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light  py-3">
    <div class="container">
      <a href="companyHome.html" class="navbar-brand">
        <img src="img/mlogo.png" width="50" height="50" alt=""><h3 class="d-inline align-middle"> S.S.M</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-expanded="true"><span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse show" id="navbarNav" style="">
        <ul class="navbar-nav ml-auto">
               <li class="nav-item">
            <a th:href="@{/administrator}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/administrator/register}" class="nav-link">RegisterCompany</a>
          </li>
       
          <li class="nav-item">
            <a th:href="@{/administrator/addCrop}" class="nav-link active">Add</a>
          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-4">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
             <span> username </span><i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu">
              <a href="profile.html" class="dropdown-item">
                <i class="fa fa-user-circle"></i> Profile
              </a>
              <a href="settings.html" class="dropdown-item">
                <i class="fa fa-gear"></i> Settings
              </a>
              <a href="login.html" class="dropdown-item">
                <i class="fa fa-user-times"></i> Logout
              </a>
          
            </div>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </div>
  </nav>


  
  <section id="main-header" class="py-3 mb-4 bg-light">
        <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5><i class="fa fa-home"></i> add/Add Variety</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
    
      <div class="row">
        <div class="col-lg-9">
          <h3 id="main-header">Add Variety</h3>
          <hr>
          <br>
          <form  th:action="@{/administrator/addVariety}" th:object="${variety}" th:method="POST" role="form">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <input type="text" required="true" class="form-control" name="cropName" disabled="true" th:value="${cropName}" placeholder="Crop Name">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <input type="text" required="true" name="varietyName" class="form-control" placeholder="Variety Name">
              </div>
              <span class="text-danger" th:if="${#fields.hasErrors('varietyName')}" th:errors="*{varietyName}">Crop Name Error</span>
            </div>
             
            

            
           
            <input type="submit" value="Add Variety" class="btn btn-primary btn-block btn-lg">
          </form>
        </div>
     
      </div>
      </div>
    </div>
  </section>

  <footer id="main-footer" class="fixed-bottom bg-dark text-white mt-5 p-2">
    <div class="conatiner">
      <div class="row">
        <div class="col">
          <p class="lead text-center">Copyright &copy; 2017 S.S.M</p>
        </div>
      </div>
    </div>
  </footer>



  <script src="/../js/jquery.min.js"></script>
  <script src="/../js/popper.min.js"></script>
  <script src="/../js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  <script src="/../datatables/jquery.dataTables.js"></script>
  <script src="/../datatables/dataTables.bootstrap4.js"></script>
  <script src="/../js/datatables-demo.js"></script>
  <script src="/../js/export/buttons.html5.min.js"></script>
  <script src="/../js/export/dataTables.buttons.min.js"></script>
  <script src="/../js/export/pdfmake.min.js"></script>
  <script src="/../js/export/buttons.flash.min.js"></script>
  
</body>
</html>
