<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blogen Admin Area</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light  py-3">
    <div class="container">
      <a href="companyHome.html" class="navbar-brand">
        <img src="img/mlogo.png" width="50" height="50" alt=""><h3 class="d-inline align-middle"> S.S.M</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-expanded="true"><span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse show" id="navbarNav" style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a th:href="@{/company}" class="nav-link active">Home</a>
          </li>
           </li>
            <li class="nav-item">
            <a  th:href="@{/company/add}" class="nav-link ">Add</a>
          </li>
          <li class="nav-item">
            <a  th:href="@{/company/companySummary}" class="nav-link">Summary</a>
          </li>
          
        </ul>
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-4">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
             <span> username </span><i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu">
              <a href="profile.html" class="dropdown-item">
                <i class="fa fa-user-circle"></i> Profile
              </a>
              <a href="settings.html" class="dropdown-item">
                <i class="fa fa-gear"></i> Settings
              </a>
              <a href="login.html" class="dropdown-item">
                <i class="fa fa-user-times"></i> Logout
              </a>
          
            </div>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </div>
  </nav>


  
  <section id="main-header" class="py-3 mb-4 bg-light">
        <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5><i class="fa fa-home"></i> Home</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="col-md-4" id="add-btn">
          <a th:href="@{/company/add/addProcessingStation}" class="btn btn-primary btn-block">
            <i class="fa fa-plus"></i> Add Processing Station
          </a>
        </div>
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4>Stores</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Woreda</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>Store 7d</td>
                  <td>raya</td>
                  <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td>Store 3d</td>
                  <td>goro</td>
                  <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td>Store 6d</td>
                  <td>Bale</td>
                  <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
                </tr>
                <tr>
                  <td scope="row">1</td>
                  <td>Store 6d</td>
                  <td>Bale</td>
                  <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
                </tr>
                <tr>
                  <td scope="row">1</td>
                  <td>Store 6d</td>
                  <td>Bale</td>
                  <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
       
        </div>
      </div>
    </div>
  </section>

  <footer id="main-footer" class="fixed-bottom bg-dark text-white mt-5 p-2">
    <div class="conatiner">
      <div class="row">
        <div class="col">
          <p class="lead text-center">Copyright &copy; 2017 S.S.M</p>
        </div>
      </div>
    </div>
  </footer>



  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  
</body>
</html>
