<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blogen Admin Area</title>
  <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link th:href="@{/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light  py-3">
    <div class="container">
        <a href="companyHome.html" class="navbar-brand">
            <img src="img/mlogo.png" width="50" height="50" alt=""><h3 class="d-inline align-middle"> S.S.M</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-expanded="true"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse show" id="navbarNav" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/processingStation}" class="nav-link ">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/processingStation/processingStationRecieveFarm}" class="nav-link ">Recieve</a>
                </li>
                </li>
                <li class="nav-item">
                    <a th:href="@{/processingStation/processingStationVarietyList}" class="nav-link active">Variety</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/processingStation/processingStationSummary}" class="nav-link ">Summary</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-4">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <span> username </span><i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a href="profile.html" class="dropdown-item">
                            <i class="fa fa-user-circle"></i> Profile
                        </a>
                        <a href="settings.html" class="dropdown-item">
                            <i class="fa fa-gear"></i> Settings
                        </a>
                        <a href="login.html" class="dropdown-item">
                            <i class="fa fa-user-times"></i> Logout
                        </a>

                    </div>
                </li>
                <li class="nav-item">

                </li>
            </ul>
        </div>
    </div>
</nav>

<!--   <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fa fa-gear"></i> Dashboard</h1>
        </div>
      </div>
    </div>
  </header> -->


<section id="main-header" class="py-3 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5><i class="fa fa-home"></i>Recieve</h5>
            </div>
        </div>
    </div>
</section>


<!-- POSTS -->

<!-- POSTS -->
<section id="posts">
    <div class="container">
        <h3 id="main-header">List of Crops</h3>
        <hr>
        <div class="dt-buttons">
            <a class="btn btn-primary buttons-excel buttons-html5" tabindex="0" aria-controls="dataTable" href="#"><span>Excel</span></a>
            <a class="btn btn-primary buttons-pdf buttons-html5" tabindex="0" aria-controls="dataTable" href="#"><span>PDF</span></a>
        </div>


        <div class="row">
            <div class="col-md-12">
                <!-- DataTables Example -->
                <div class="card mb-8">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        List of Crop</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover dataTable js-exportable" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>

                                    <th>Crop</th>
                                    <th>Variety</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>

                                    <th>Crop</th>
                                    <th>Variety</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>

                                <tr th:each="variety:${varieties}">

                                    <td th:text="${variety.crop.cropName}">CropName</td>
                                    <td th:text="${variety.varietyName}">Name</td>


                                    <td>
                                        <a th:href="@{/processingStation/processingStationProcess(varietyID=${variety.varietyID})}"  class="btn btn-warning">
                                            <i class="fa fa-angle-double-right"></i> Process
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/processingStation/processingStationDispatchForm(varietyID=${variety.varietyID})}" class="btn btn-info">
                                            <i class="fa fa-angle-double-right"></i> Dispatch
                                        </a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>

            </div>

        </div>
    </div>
    </div>
</section>


<footer id="main-footer" class="fixed-bottom bg-dark text-white mt-5 p-2">
    <div class="conatiner">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; 2017 S.S.M</p>
            </div>
        </div>
    </div>
</footer>



<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>

</body>
</html>
