<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Register</title>
  <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link th:href="@{/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body id="page-top">
<nav class="navbar navbar-expand-md navbar-light  py-3">
    <div class="container">
      <a href="companyHome.html" class="navbar-brand">
        <img src="img/mlogo.png" width="50" height="50" alt=""><h3 class="d-inline align-middle"> S.S.M</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-expanded="true"><span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse show" id="navbarNav" style="">
        <ul class="navbar-nav ml-auto">
               <li class="nav-item">
            <a th:href="@{/administrator}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/administrator/register}" class="nav-link active">RegisterCompany</a>
          </li>
       
          <li class="nav-item">
            <a th:href="@{/administrator/addCrop}" class="nav-link ">Add</a>
          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-4">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
             <span> username </span><i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu">
              <a href="profile.html" class="dropdown-item">
                <i class="fa fa-user-circle"></i> Profile
              </a>
              <a href="settings.html" class="dropdown-item">
                <i class="fa fa-gear"></i> Settings
              </a>
              <a href="login.html" class="dropdown-item">
                <i class="fa fa-user-times"></i> Logout
              </a>
          
            </div>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </div>
  </nav>


	<!-- Header -->
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto">
				
				<h2 class="text-white mx-auto mt-2 mb-5 text-center">Please fill the form with your account's information.</h2>

				<form th:action="@{/administrator/register}" th:object="${user}" th:method="POST" class="login-form" role="form">
					<div class="login-wrap">
						<span th:utext="${successMessage}"></span>

						<div class="input-group">
							<input type="text" name="name" class="form-control" placeholder="Enter your company Name"/>
						</div>
						<br />
						<div class="input-group">
							<input type="text"
								th:field="*{username}" class="form-control" placeholder="Enter your User Name" /> <span
								class="text-danger" th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}">Username Error</span>
						</div>
						<br />
						<div class="input-password">
							<input type="password"
								th:field="*{password}" class="form-control"  placeholder="Enter your Password"/> <span
								class="text-danger" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}">Password Error</span>
						</div>
						<br />
					</div>
					<button class="btn btn-primary btn-block text-center" name="submit"
						value="Register" type="submit" th:text="Register"></button>
				</form>
				<br />
			
		
			</div>
		</div>
	</header>
	<!-- Footer -->
	<footer class="bg-black p-2 fixed-bottom text-center text-white-50">
		<div class="container">Copyright &copy; S.S.M 2019</div>
	</footer>

	<!-- Bootstrap core JavaScript -->


  <script src="/../js/jquery.min.js"></script>
  <script src="/../js/popper.min.js"></script>
  <script src="/../js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  <script src="/../datatables/jquery.dataTables.js"></script>
  <script src="/../datatables/dataTables.bootstrap4.js"></script>
  <script src="/../js/datatables-demo.js"></script>
  <script src="/../js/export/buttons.html5.min.js"></script>
  <script src="/../js/export/dataTables.buttons.min.js"></script>
  <script src="/../js/export/pdfmake.min.js"></script>
  <script src="/../js/export/buttons.flash.min.js"></script>

</body>

</html>